<div class="modal fade" id="deletePedidoModal" tabindex="-1" role="dialog" aria-labelledby="deletePedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estas seguro de que quieres borrar el pedido?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-url-pedido="/pedido/{{id}}" id="removePedidoButton">Si</button>
            </div>
        </div>
    </div>
</div>