<div class="form-row">
    <button class="btn submit-button" type="submit" id="salvarPedido">Guardar</button>
    <span class="btn btn-outline" id="editarPedido">Editar</span>
    <span class="btn btn-outline-secondary" data-toggle="modal" data-target="#deletePedidoModal" id="borrarPedido">Borrar pedido</span>
</div>