
<div class="col-4">
    <div class="feature-item">
        <label>
            <div>Elemento:</div>
            <div class="form-check-inline elementos_container">
                <input type="checkbox" {{#value}}checked{{/value}} class="form-control elementos elementos_value elementos_value_checkbox" name="elementos[].value" value="true">
                <input type="hidden" name="elementos[].value" value="false" />
                <input type="text" class="row form-control elementos elementos_key" name="elementos[].key" required value="{{key}}">
                <div class="row invalid-feedback">
                    El elemento no puede estar vacio.
                </div>
            </div>
        </label>
    </div>
    <a class="d-none btn btn-outline btn-s botonEliminarElemento">Borrar</a>
</div>