{{> header}}

<section class="download bg-primary text-center" id="download">
    <div class="container h-100">
        <div class="col-lg-* mx-auto">
            <h3 class="section-heading">{{pageTitle}}</h3>
            <form action="/pedido/{{id}}"
                  method="post" id="formPedidos" class="needs-validation was-validated" novalidate enctype='application/json'>
                {{#isEditarPedido}}
                    <input id="viewModeOn" type="hidden" name="_method" value="PUT" class="desactibable"/>
                {{/isEditarPedido}}
                <div class="row">
                    {{> titulo_pedido}}
                </div>
                <div class="row" id="listaElementos">
                    {{> lista_elementos}}
                </div>
                <br>
                <br>
                <div class="row">
                    {{> botonera}}
                </div>
            </form>
        </div>
    </div>
</section>
{{> borrar_pedido_modal}}
<script src="/pedido.js"></script>
{{> footer}}