{{> header}}

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <p>El pedido ha sido guardado correctamente</p>
        </div>
    </div>
</section>
{{> footer}}