{{> header}}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-* my-auto">
                <div class="header-content mx-auto">
                    <div class="col-lg-* my-auto">
                        <div class="container-fluid">
                            <div class="row">
                                {{#pedidos}}
                                    <div class="col-lg-*">
                                        <div class="feature-item">
                                            <a class="btn" href="/pedido/{{id}}">{{titulo}}</a><br>
                                        </div>
                                    </div>
                                {{/pedidos}}
                                {{^pedidos}}
                                    <div class="col-lg-*">
                                        <div class="feature-item">
                                            <h1 class="mb-5">Todavia no hay pedidos que mostrar</h1>
                                        </div>
                                    </div>
                                {{/pedidos}}
                            </div>
                        </div>
                    </div>
                    <a href="/pedido/nuevo" class="btn btn-outline btn-xl js-scroll-trigger">Nuevo pedido</a>
                </div>
            </div>
        </div>
    </div>
</header>

<footer>
    <div class="container">
        <p>&copy; Your Website 2018. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
{{> footer}}