<div class="form-row form-group">
    <label>
        <span>Titulo:</span>
        <input type="text" class="form-control" name="titulo" required value="{{pedido.titulo}}"/>
        <div class="invalid-feedback">
            Por favor, pon un titulo.
        </div>
    </label>
</div>